<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'de' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  {%- feed_meta -%}
  
  <!-- Plotly.js for interactive plots -->
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
  
  {%- if page.custom_css -%}
    {%- for stylesheet in page.custom_css -%}
    <link rel="stylesheet" href="{{ stylesheet | relative_url }}">
    {%- endfor -%}
  {%- endif -%}
  
  {%- if page.custom_js -%}
    {%- for javascript in page.custom_js -%}
    <script src="{{ javascript | relative_url }}"></script>
    {%- endfor -%}
  {%- endif -%}
</head>
<body>
  {%- include header.html -%}
  
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  
  {%- include footer.html -%}
</body>
</html>
